@charset "UTF-8";

.tab-content {
	position: absolute;
	width: auto;
	height: auto;
	top: 50px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: auto;
	margin-left: 250px;
	margin-bottom: 100px;
	background:white;
}

.tab-1 {
	font-family: arial;
}

.filebox label {
	display: inline-block;
	padding: .2em .50em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.square {
	width: 150px;
	height: 150px;
	border: 1px solid gray;
}


@media screen {
	@media screen and (min-width: 961px) and (max-width: 1880px) {
		.tab-content {
			position: absolute;
			width: auto;
			height: auto;
			top: 50px;
			right: 0px;
			left: 0px;
			bottom: 0px;
			overflow: auto;
			margin-left: 250px;
			margin-bottom: 100px;
		}
	}
}

@media screen and (max-width: 960px) {
	.tab-content {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		padding-bottom: 1px;
		margin-left: 0;
	}
}